<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>register user</title>
    <link rel="stylesheet" href="/css/formStyle.css" />
</head>
<body>
    <h1>register</h1>   
    <form id="register-form">
      email: <input type="email" required class="form-input" id="email">
      <br>
      password:<input type="password" required id="password">
      <input type="submit" value="register">
    </form>
    <div id="message"></div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/registerUser.js"></script>
</body>
</html>